#map {
  width: 100%;
  height: 100%;
}
#map .infowindow {
  overflow: hidden;
  font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
}
#map .infowindow .heading {
  margin-bottom: 6px;
}
#map .infowindow .heading #icon {
  position: relative;
  width: auto;
  height: 30px;
  top: 4px;
}
#map .infowindow .heading h1 {
  display: inline;
  margin-left: 12px;
  font-size: 24px;
}
#map .infowindow .main-infowindow-content {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 500;
}
#map .infowindow .main-infowindow-content .left-panel {
  width: 180px;
}
#map .infowindow .main-infowindow-content .left-panel .date {
  font-size: 12px;
  font-weight: 400;
  margin: 5px 0 0 0;
}
#map .infowindow .main-infowindow-content .left-panel .description {
  margin: 3px 5px 0 0;
  padding-top: 7px;
  color: #111;
  font-weight: 500;
  word-wrap: break-word;
  border-top: 2px solid #517cb5;
}
#map .infowindow .main-infowindow-content .left-panel .links a {
  font-size: 13px;
  text-decoration: none;
  color: #00f;
  line-height: 1.5em;
}
#map .infowindow .main-infowindow-content .left-panel .links a:hover {
  color: #51b568;
}
#map .infowindow .main-infowindow-content .left-panel .links a:before {
  content: "> ";
}
#map .infowindow .main-infowindow-content .left-panel .rideData a {
  text-decoration: none;
  color: #f00;
}
#map .infowindow .main-infowindow-content .left-panel .links {
  border-top: 2px solid #298771;
}
#map .infowindow .main-infowindow-content .left-panel .rideData {
  border-top: 2px solid #298771;
}
#map .infowindow .main-infowindow-content .left-panel .rideData, #map .infowindow .main-infowindow-content .left-panel .links {
  margin: 10px 5px 0 0;
  padding: 4px 0;
}
#map .infowindow .main-infowindow-content .left-panel .rideData p, #map .infowindow .main-infowindow-content .left-panel .links p {
  font-weight: 500;
  font-size: 14px;
}
#map .infowindow .main-infowindow-content img {
  max-width: 300px;
  max-height: 200px;
  margin: 7px 0 7px 5px;
}
#map .infowindow .main-infowindow-content iframe {
  margin: 10px 0 5px 5px;
}
