// Customize theme colors:
$line-above-description: #517cb5;
$line-above-links: #298771;
$line-above-rideData: #298771;
$links: #0000ff;
$links-hover: #51b568;
$ride-data: #ff0000;

html, body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 500px;
  .infowindow {
    overflow: hidden;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    .heading {
      margin-bottom: 6px;
      #icon {
        position: relative;
        width: auto;
        height: 30px;
        top: 4px;
      }
      h1 {
        display: inline;
        margin-left: 12px;
        font-size: 24px;
      }
    }
    .main-infowindow-content {
      margin-top: 5px;
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      font-weight: 500;
      .left-panel {
        width: 180px;
        .date {
          font-size: 12px;
          font-weight: 400;
          margin: 5px 0 0 0;
        }
        .description {
          margin: 3px 5px 0 0;
          padding-top: 7px;
          color: #111;
          font-weight: 500;
          word-wrap: break-word;
          border-top: 2px solid $line-above-description;
        }
        .links a {
          font-size: 13px;
          text-decoration: none;
          color: $links;
          line-height: 1.5em;
        }
        .links a:hover {
          color: $links-hover;
        }
        .links a:before {
          content: "> ";
        }
        .rideData a {
          text-decoration: none;
          color: $ride-data;
        }
        .links {
          border-top: 2px solid $line-above-links;
        }
        .rideData {
          border-top: 2px solid $line-above-rideData;
        }
        .rideData, .links {
          margin: 10px 5px 0 0;
          padding: 4px 0;
          p {
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
      img {
        max-width: 300px;
        max-height: 200px;
        margin: 7px 0 7px 5px;
      }
      iframe {
        margin: 10px 0 5px 5px;
      }
    }
  }
}

.below-map {
  width: 100%;
  font-size: 17px;
  font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
  display: flex;
  .map-options {
    text-align: center;
    width: 18vw;
    min-width: 90px;
    button {
      margin: 10px 5px;
      padding: 10px 7px;
      border: 3px solid black;
      border-radius: 2px;
      background-color: #fff;
      font-weight: bold;
    }
  }
  .map-legend {
    display: inline-block;
    height: 100%;
    width: 82vw;
    img {
      padding-top: 10px;
      max-height: 90px;
      max-width: 100%;

    }
  }
}
